//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Links

a {
	color: $color-link;

	&:visited {
		color: $color-link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	}
}

// Navigation container
.main-navigation {
	@include z-index(main-navigation);

	overflow: hidden;
	white-space: nowrap;
}

// Menu toggle
.menu-toggle {
	@include z-index(menu-toggle, absolute);

	background-color: $color-gray;
	color: $color-white;
	padding: rem(10);
	right: 0;
	text-decoration: none;
	top: 0;

	.icon {
		@include size(rem(16) rem(16));

		display: inline-block;
		fill: $color-white;
		margin-right: rem(5);
	}
}

// Main menu
.menu {
	@include list-reset;
	@include z-index(menu);

	// Menu items
	li {
		display: table-cell;

		&:hover > a,
		&.focus > a {
		}
	}

	// Menu hyperlinks
	a {
		display: block;
		text-decoration: none;
		padding: rem(10);
	}

	// Current items
	.current_page_item a,
	.current-menu-item a {
	}

	// Sub-menu
	.sub-menu {
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		float: left;
		left: -999em;
		position: absolute;
		top: em(24px);
		z-index: 99999;

		// Sub-sub menu
		ul {
			left: -999em;
			top: 0;
		}

		// Sub-menu items
		li {
			display: block;

			&:hover > ul,
			&.focus > ul {
				left: 100%;
			}
		}

		// Sub-menu links
		a {
			@include size(rem(200) auto);
		}

		:hover > a,
		.focus > a {
		}

		a:hover,
		a.focus {
		}
	}

	// Display sub-menu on hover
	li:hover > ul,
	li.focus > ul {
		left: auto;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 rem(24) 0;
		overflow: hidden;
	}

	& .nav-previous {
		@include size(50% auto);

		float: left;
	}

	& .nav-next {
		@include size(50% auto);

		float: right;
		text-align: right;
	}
}